body {
    font-family: 'Roboto';
    box-sizing: border-box;
    font-size: 18px;
}

body {
    height: 100vh;
}
.sections {
    padding-left: 10%;
    padding-right: 10%;
}

/* Section 1 of the website.  */
.header{
    display: flex; 
    flex-direction: column;
    height: 800px;
    background-color: #ECD5BB;
    color: white;

}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-links ul {
    display: flex;
    gap: 20px;    
}

.header-links a {
    text-decoration: none;
    color: white;

}

.header-links li {
    list-style-type: none; 
}

.header-top h1 {
    font-size: 24px;
    font-weight: bold;
}

.header-bottom {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 20px; 
}

.header-bottom h1 {
    font-size: 48px;
    font-weight:900;
}

.header-content {
    text-align: justify;
    flex-wrap: wrap;
}

button {
    background-color: #54627B;
    color: white;
    font-family: 'Roboto';
    padding: 10px 15px;
    border-radius: 12px;
    font-weight: bolder;

}

img {
    max-width: 80%;
    height: 80%;
    object-fit: contain;
    border-radius: 12px;
}

/* Section 1 of the Website End */

/* Section 2 of the Website */
