body {
    font-family: 'Roboto';
    box-sizing: border-box;
    font-size: 18px;
}

.sections {
    padding-left: 10%;
    padding-right: 10%;
    height: 800px;
}

ul {
    display: flex;
    gap: 20px;    
}

a {
    text-decoration: none;
    color: white;

}

li {
    list-style-type: none; 
}

/* Section 1 of the website.  */
.header{
    display: flex; 
    flex-direction: column;
    background-color: #ECD5BB;
    color: white;

}

.header-top {
    display: flex;
    justify-content: space-between;
}


.header-top h1 {
    font-size: 24px;
    font-weight: bold;
}

.header-bottom {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 50px; 
}

.header-bottom h1 {
    font-size: 48px;
    font-weight:900;
}

.header-content {
    text-align: justify;
    flex-wrap: wrap;
}

button {
    background-color: #54627B;
    color: white;
    font-family: 'Roboto';
    padding: 10px 15px;
    border-radius: 12px;
    font-weight: bolder;

}

.header-bottom img {
    max-width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 12px;
}

/* Section 1 of the Website End */

/* Section 2 of the Website */


.lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#B5EECB;

}

.boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.features{
    text-align: center;    
}


.features img { 
    width: 350px;
    height: 300px;
    object-fit:cover;
    border-radius: 12px;
    filter: drop-shadow(5px 1px 10px white);
}

.lists h1, .lists p{
    color: white;
}

/* Section 3 Start */

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FCB9B5 ;
    color: white;
}

.quote h1 {
    font-style: italic;
    font-size: 50px;
    font-family: "URW Chancery L", cursive;
    text-align: justify;

}

.quote p {
    font-weight:900;
    font-size: 25px;
    align-self: flex-end;

}

/* Section 3 End */

/* Section 4 Start */